@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

header.fixed {
  position: fixed;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  color: #000;
}

#logo {
  max-width: 70px;
}

#nav ul,
a {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  display: flex;
  padding: 0px 6px;
  transition: .2s ease-in;
}

#nav a:hover {
  transform: translateY(-4px);
}

.inicio {
  min-height: 150vh;
  background: url(../images/background02.png) no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-position: center;
  background-size: cover;
  position: relative;
}

.inicio .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12rem;
}

.inicio .content {
  width: 69rem;
  height: 40rem;
}

.inicio span,
h3 {
  font-size: 5rem;
  color: #fff;
  font-family: "Rubik";
}

h3 {
  color: #e67e22;
  display: inline-block;
}

.sobre,
.servicos {
  display: flex;
}

.component-bg {
  width: 40rem;
}

.sobre p,
.content-servicos {
  margin: 3rem 3rem 0 3rem;
  text-align: justify;
}

.container-fdb {
  background-color: #ffffff;
  max-width: 20rem;
  height: 13rem;
  border-radius: 7px;
}

.container-fdb span,
p {
  color: #4e4e4e;
  display: block;
  margin: 1rem;
}

.container-fdb p {
  font-size: 14px;
  font-weight: 300;
  color: #a5a5a5;
  margin-bottom: 2rem;
}

.feedback {
  max-width: 668px;
}

#feedback-slide {
  max-width: 432px;
}

.feedback-titulo h3,
.feedback-titulo {
  font-size: 3rem;
  display: flex;
  margin-bottom: 1rem;
  font-family: "Rubik";
}

footer {
  position: relative;
  background: url(../images/footer_background02.jpg);
  background-position: center;
  background-size: center;
  padding-top: 10rem;
  padding-bottom: 2rem;
}


footer .top_wave {
  position: absolute;
  top: 0;
  left: 0;
  height: 10rem;
  width: 100%;
}

footer p {
  color: #FFF;
  width: 80rem;
  margin-top: 2rem;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5rem 0 3rem;
}

.container-icons {
  display: flex;
  transition: .2s ease-in;
}

.icon-logo {
  max-width: 20px;
  margin-right: 4px;
}

.container-icons a:hover {
  transform: translateY(-4px);
}

.inicio-servico {
  background: url(../images/header-background.jpg);
  min-height: 0vh;
  height: 43vh;
}

.btn {
  position: absolute;
  left: 4rem;
  top: 38rem;
  border-radius: 5rem;
  border-top-left-radius: 0;
  border: 0.2rem solid #e67e22;
  background-color: #e67e22;
  color: #ffffff;
  font-size: 1.8rem;
}

.btn:hover {
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.servicos {
  margin: 2rem 0 0 0px;
}

.container-servicos,
.container-produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  gap: 1.5rem;
  margin-top: 3rem;
}

.titulo-header span {
  color: #FFF;
  margin: 1rem 60rem 0rem 0rem;
}

.content-servicos p {
  margin: 3rem 2rem;
}

.box-servicos {
  background: #eee;
  padding: 3rem;
  text-align: center;
  border-radius: 33% 67% 70% 30%/30% 30% 70% 70%;
  transition: 0.4s;
}

.box-radius2 {
  border-radius: 79% 21% 81% 19%/58% 93% 7% 42%;
}

.box-servicos:hover {
  border-radius: 25px;
}

.btn-saiba-mais {
  margin-top: 1rem;
  padding: 0.8rem 1.8rem;
  border-radius: 5rem;
  border-top-left-radius: 0;
  border: 0.2rem solid #130f40;
  background: none;
  color: #130f40;

}


.btn-saiba-mais:hover {
  background-color: #130f40;
  color: #FFF;
}

.icon-servico {
  max-width: 2rem;
  display: flex;
}

.box-produtos h3 {
  font-size: 22px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.box-produtos span {
  color: #130f40;
  display: flex;
  justify-content: center;
}

.produtos-titulo,
.h3-produtos, .galeria-titulo {
  font-size: 3rem;
  font-family: "Rubik";
  display: inline;
}

.content-titulo-produto, .content-galeria {
  text-align: center;
  margin-top: 3rem;
}


form {
  width: 18rem;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

#contato {
  display: flex;
  margin: 8rem 0rem;
}

.component-bg-contato {
  margin: 0;
}

#galeria .container  {
  max-width: 50rem;
  margin: 3rem 14rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 44px;
  margin-bottom: 50px;
}

#galeria .container img{
    display: block;
    width: 100%;
    transition: all 0.3 linear;
}

#galeria .container img:hover {
    transform: scale(0.9);
}
